.InputContainer {
  position: relative;
}

.Input {
  z-index: 101;
  position: relative;
  background-color: transparent!important;
}

.Placeholder {
  position: absolute;
  left: 32px;
  top: 5px;
  color: #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 1220px) {
  .Placeholder {
    padding-left: 10px;
  }
}

.RepoOwnerWrapper {
  color: #888;
  font-weight: 600;
  height: 100%;
  line-height: 1.6;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 4px;
  width: 100%;
}

.RepoOwner {
  color: #aaa;
  font-weight: 600;
  line-height: 1.6;
  position: relative;
  text-align: right;
}